



.logo{
  display:flex;
  align-items:center;
  gap: 0px;
  margin-left: 0px;
  background: rgba(255,255,255,0.7);
  box-shadow: rgb(56, 0, 159) 0px 0px 10px;

  }
  
.logo img{
    border-radius: 0px;
    height:clamp(70px, 100vw, 20px);
    width:auto;
    object-fit: contain;
    display: flex;
    justify-content: flex-start;
    }


.navbar{
  width: 100%;
  background: linear-gradient(90deg,rgb(224, 243, 255) 0%, rgb(213, 215, 255) 40%, rgb(230, 202, 255) 98%);
}

.navbar-container {
  width: 100%;
  margin: 0 ;
  padding-left: 0 ;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}



.nav-links {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    list-style:none;
    margin-left: 30px;
    gap:20px;
    color:#444;
    font-weight:500;
    min-width: 0;

}

.nav-right{
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-left: auto;
   gap: 30px;
   flex-shrink: 0;
}


/* center menu */

.nav-links li{
  cursor:pointer;
  white-space: nowrap;
  font-size: clamp(14px, 1.2vw, 18px);
}

/* right side */


.icon{
  cursor:pointer;
  font-size:18px;
}

/* button */



.dropdown{
  position:sticky;
  cursor: pointer;
}

.dropdown-title{
  display:flex;
  align-items:center;
  gap:4px;
}
.arrow{
  font-size:15px;
}

.dropdown-menu{
  position: absolute;
  top: 35px;
  left: 0;

  background: rgb(213, 215, 255);
  border-radius: 10px;

  list-style: none;
  padding: 10px 0;
  width: 200px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.dropdown-menu li{
  padding: 10px 15px;
}

.dropdown-menu li:hover{
  background:#f5f5f5;
}





.notification{
  position: relative;
  justify-content: center;
  }

.notification .badge{
  position: relative;
  top:-20px;
  right: 1px;
  background:red;
  color:white;
  border-radius:100%;
  padding:1px 5px;
  font-size:10%;
}

.notification img{
  width:clamp(20px, 2vw, 24px);
  height:clamp(20px, 2vw, 24px);
}

.profile{
  position:relative;
  justify-content: center;
 

}
.profile img{
  width:clamp(22px, 2vw, 28px);
  height:clamp(22px, 2vw, 28px);
}

.search{
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  
 

}
.search img{
  width:clamp(20px, 2vw, 24px);
  height:clamp(20px, 2vw, 24px);
  object-fit: contain;
}


